#OS junk files
[Tt]humbs.db
*.DS_Store

#Project files
[Bb]uild/

#Others
__pycache__
btk-core-0.3.0_src
btk.py
_btk.so
*.pyc
__pycache__
*.ipynb
.gitignore

# Data and results
src/results
src/BalanceBoard_Static

# linter config file
.pylintrc
